@font-face {
  font-family: 'Typewriter';
  src: local('Typewriter'), url(./ErikasBuero.ttf) format('truetype');
}

.container {
  font-family: Typewriter;
  font-size: 40px;
  color: #444;
  text-shadow: 1px 1px #888;
  overflow: hidden;
  margin: 0;
}
body {
  overflow: hidden;
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0%;
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
  }
}
