@font-face {
  font-family: 'Typewriter';
  src: local('Typewriter'), url(./ErikasBuero.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.container {
  font-family: Typewriter;
  font-size: 2.5em;
  text-shadow: 3px 3px #888;
  overflow: hidden;
  margin: 0;
}
body {
  overflow: hidden;
}

.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0%;
  animation-name: zoomin;
  animation-duration: 100s;
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
  }
}
