@font-face {
  font-family: 'Typewriter';
  src: local('Typewriter'), url(./ErikasBuero.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.container {
  font-family: Typewriter;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px #000;
  overflow: hidden;
  margin: 0;
}
body {
  overflow: hidden;
}

.background {
  background-image: url('./upwk.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center-top;
  background-position-x: 50%;
  background-position-y: 0%;
  animation: zoomin 100s 1;
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
  }
}
